<% provide(:title, '当前库存') %>

<div class="row">
  <aside class="col-md-3 albums_menu">
   <%= render 'shared/xstock_menu' %>
  </aside>
  <div class="col-md-9">
 <div class="row ">
	  <h5> 产品库存--<%= @warehouse.name %>(共<%= @inventories.count %>个SKU) 共<%=@total%>件 <%=@normal%> | <%=@defect%> | <%=@sizeup%> | <%=@sizedown%></h5>
      <table class="table" id="inventorTable" >
		  <th>SKU</th>
		    <th>ParentSKU</th>
			<th>Name</th>
			<th>N|Defect</th>
			<th>Sup|Sd</th>
			<th>Total</th>
			<th>Options</th>

      <% @inventories.each do |ob| %>
      <tr>
        <td>
          <%= ob.sku %>
        </td>
        <td>
          <%= ob.parentsku %>
        </td>
        <td>
          <%= ob.name %>
        </td>
        <td>
          <%= ob.normal%> | <%= ob.defect %> 
        </td>
		<td>
			<%= ob.sizeup %> | <%= ob.sizedown %>
		</td>
        
        <td> <%=  ob.normal + ob.defect + ob.sizeup+ ob.sizedown%>  </td>
		
        <td><p>
  <%= link_to "delete", ob, method: :delete, data: { confirm: "You sure?"} %>
</p></td>
        </tr>

      <% end %>
	 

  </table>
  </div>


  </div>

  
</div>
