<% provide(:title, 'My depot') %>

<div class="row">
	<aside class="col-md-3 products_menu">
		<%= render 'shared/dproduct_menu' %>
	</aside>
	<div class="col-md-9">
		<h3>My Shipping</h3>
		
        <div class="row">
        <div class=" col-sm-1">
          <input type="checkbox" onclick="toggle_checkall('dship', this.checked);" />
        </div>
        <div class="col-sm-3"></div>
	  
        <div class="col-sm-8"></div>
        </div>

		<div class="row ">
			
			<table  id="myTable" class="table" >
				<thead>
					<tr>
					<th>
</th>
						<th>OrderNum</th>
						<th>Name</th>
						<th>Country</th>
						<th>TrackNum</th>
						<th>Wheight</th>
						<th>Price</th>
						<th>Excelfile</th>
						<th>Date</th>
						

					</tr>

				</thead>
				<tbody>
					<% @dships.each do |dship|%>
					<tr>
                   
					<td>
						<%= check_box_tag "dship_ids[]", dship.id  %>
					</td>
					          <td><%= dship.ordernum %></td>
								<td><%= dship.name %></td>
								<td><%= dship.country %></td>
								<td><%= dship.tracknum %></td>
								<td><%= dship.weight %></td>
								<td><%= dship.price %></td>
								<td><%= dship.excelfile %></td>
								<td><%= dship.created_at.strftime('%Y-%m-%d') %></td>
            
					        </tr>
							<%end%>

				</tbody>
			</table>

		</div>


		<%= will_paginate %>

      
	</div>
	<script>
		$(document).ready(function(){
			$('#myTable').DataTable();
		});
		</script>
<script>
function toggle_checkall(field_name, state) {
  var checkboxes = document.getElementsByTagName('input');
  var count = checkboxes.length;
  for (var i = 0; i < count; i++) {
    if (checkboxes[i].type == "checkbox"
        && checkboxes[i].name == field_name + "_ids[]") {
      checkboxes[i].checked = state;
    }
  }
}
</script>
	</div>
