<h4><i class="fa fa-th"></i> Manage products</h4>
<nav>
      <ul class="nav">
        <li><%= link_to "Upload products",new_dproduct_path%></li>
        <li><%= link_to "My products",dproducts_path%></li>
		<li><%= link_to "Upload ship",new_dship_path%></li>
		<li><%= link_to "待发货",dships_path%></li>
		<li><%= link_to "已发货",dship_check_path%></li>
		<li><%= link_to "已经完成",dship_finish_path%></li>

      


      </ul>
</nav>
