<% provide(:title, "Show album") %>

<div class="row">
  <aside class="col-md-3 albums_menu">
   <%= render 'shared/album_menu' %>
  </aside>
  <div class="col-md-9">
     <h1>Show albums</h1>
    <section class="album_info">
      <span id="album_img"><%= image_tag @album.coverimg,width:"120",height: "120"%></span>
      <span><%=@album.name%></span>
<span><%=@album.summary%></span>
<span><%= link_to "edit",edit_album_path(@album) %> | <%= link_to "delete", @album, method: :delete, data: { confirm: "You sure?"} %></span>
</section>
<div>
   <%=render 'shared/upload_form'%>
</div>
<div>
  <%=form_for @album, url: { action: "exportexcel" }  do |f| %>
  <div class="field">
    <%= text_field_tag "csize","", class: 'form-control', placeholder: "ex:s m l xl"%>
    <%= text_field_tag "ussize","", class: 'form-control', placeholder: "ex:8 10 12 14"%>
    <%= text_field_tag "brand",@user_brand, class: 'form-control', placeholder: "ex:Xudom "%>
     <%= text_field_tag "fullname","", class: 'form-control', placeholder: "Full name ex:Womens Striped T-shirts "%>
     <%= text_field_tag "dname","", class: 'form-control', placeholder: "Short name for description ex:Striped T-shirts "%>
     <%= text_area_tag "dsize","",:class => "form-control",rows: 4, placeholder: "description size  ex:bust waist|70 78" %>
     <%= text_area_tag "dnote",@user_note,:class => "form-control",rows: 4, placeholder: "description note  ex:note" %>


</div>
   <%= f.submit "ExportExcel",:class => "btn btn-large btn-primary" %>
  <% end %>
</div>
 <div class="photo_list">
      <ul id="phtot_list">
       <%= render @album.photos%>
      </ul>
 </div>

 <div class="photo_url">



   <textarea id="photo_url" ><%= @photourls %></textarea>



 <p>
    <button id="bt_photo_url" onClick="CopyURL('photo_url')" >Copy</button>
 </p>
 <div>
</div>

</div>
<script type="text/javascript">

  function CopyURL(obj)
  {
  var url=$("#"+obj);
  url.select();
  document.execCommand("Copy"); // 执行浏览器复制命令
  alert("Copy successful！Please paste it!");

  }



</script>
