<li>
  <%= image_tag photo.picture.url(:thumb)  if photo.picture? %>
  <span>
  <input id="photo_<%=photo.id%>" type=text value=<%= geturl photo.picture.url if photo.picture? %> />

  </span>
  <button id="bt_<%=photo.id%>" onClick="CopyURL('photo_<%=photo.id%>')" >Copy</button>
  <span class="photo_delete" > <%= link_to "delete", photo, method: :delete, data: { confirm: "You sure?"} %></span>
</li>
